<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">
    <bean id="httpClient" class="com.jd.jr.pmock.demo.proxy.PoolingHttpClient">
        <property name="connectTimeout" value="10000"></property>
        <property name="readTimeout" value="15000"></property>
        <property name="waitTimeout" value="1000"></property>
        <property name="totalMaxConnection" value="3000"></property>
    </bean>

    <bean id="playRpc" class="com.jd.jr.pmock.demo.proxy.RestResourceClientProxyFactoryBean">
        <property name="serviceInterface" value="com.jd.jr.pmock.demo.rpc.PlayRpc"></property>
        <property name="baseUri" value="http://demo"></property>
        <property name="httpClient" ref="httpClient"></property>
    </bean>

</beans>